.header-logo {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 20px;
}

.content {
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

.ttl {
  font-size: 30px;
  margin: 50px 0 0;
}

.content__form {
  margin-top: 30px;
}

.form__label {
  display: block;
  width: 50%;
  margin: 35px auto 0;
  text-align: left;
  font-weight: bolder;
}

.form__input {
  width: 50%;
  height: 30px;
}

.form__error-message {
  color: red;
  text-align: left;
  width: 50%;
  margin: 0 auto;
}

.button__button-submit {
  width: 50%;
  height: 35px;
  border: none;
  cursor: pointer;
  background: #FF5555;
  color: white;
  border-radius: 3px;
  font-size: 15px;
  margin: 70px 0 20px;
}

.form__link {
  text-decoration: none;
  color: #0073CC;
}